<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All users</h2>

    <% if (user.length > 0) { %>
      <% user.forEach(user => { %>
        <a class="single" href="/users/<%= user._id %>">
          <h3 class="title"><%= user.nom %></h3>
          <p class="snippet"><%= user.email %></p>
          <p class="snippet"><%= user.date_creation%></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no user to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>